
	body{
			background-color:#F6CEEC;
			font-family:Verdana,Tahoma, Sans-serif;
			color:#043927;

	}

	.myDiv {
  			border: 5px outset blue;
  			background-color: lightblue;    
  			text-align: center;

}
	h1{
			text-align:center;
			font-family:Gill Sans Extrabold,cursive, sans-serif;
			font-size: 2.5em;
			background-color: #F5A9BC;
			color:tomato;
			text-transform:uppercase;
			word-spacing:30px;
			text-shadow: 5px 5px 6px gray;

		}

	h3{

			background-color:powderblue;color:black;
			font-style:oblique;
			font-family: Georgia;
			text-shadow: 5px 5px 7px blue;

		}

	hr{
			color:lime;

		}

	b{
			background-color:brown;color:yellow;
			font-style:oblique;
			font-family: "Times New Roman", Times, serif;
			text-shadow: 5px 5px 7px blue;

	}

	p{
			color:darkviolet;
			text-align: justify;
			font-size: 12px;
			text-indent: 40px;
			line-height: 15px;
			word-spacing: 3px;
			font-style:oblique;
	}

	pre{

			background-color:skyblue;color:darkblue;
			font-size: 1.2em;
			font-style:italic;
			font-family: "Times New Roman", Times, serif;
			text-shadow: 5px 5px 7px white;
	}

	a{ 
		text-decoration: none;
		font-weight: bold;
		font-style: oblique;


	 }


	sup{

			background-color: white;

		}
	

	</style>